In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np, pandas as pd, os
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [ ]:
tmp_train_data = pd.read_csv("/content/drive/MyDrive/Colab Projects Data/TitanicKaggle/train.csv")
test_data = pd.read_csv("/content/drive/MyDrive/Colab Projects Data/TitanicKaggle/test.csv")
train_data, validate_data = train_test_split(tmp_train_data, test_size = 0.2)
train_data.describe()

In [ ]:
train_data.head()

     PassengerId  Survived  Pclass  ...      Fare    Cabin  Embarked
884          885         0       3  ...    7.0500      NaN         S
305          306         1       1  ...  151.5500  C22 C26         S
793          794         0       1  ...   30.6958      NaN         C
133          134         1       2  ...   26.0000      NaN         S
855          856         1       3  ...    9.3500      NaN         S

[5 rows x 12 columns]

In [ ]:
train_data.corr()
features = ["Survived", "Pclass", "Sex", "SibSp", "Parch", "Embarked" ]
X_train_dummy = pd.get_dummies(train_data[features])
X_train_dummy.corr()

            Survived    Pclass     SibSp  ...  Embarked_C  Embarked_Q  Embarked_S
Survived    1.000000 -0.321321 -0.047060  ...    0.151542    0.026947   -0.156960
Pclass     -0.321321  1.000000  0.101241  ...   -0.234029    0.222164    0.074503
SibSp      -0.047060  0.101241  1.000000  ...   -0.066873   -0.032402    0.081590
Parch       0.067035  0.027500  0.408947  ...   -0.023027   -0.068428    0.065927
Sex_female  0.546832 -0.116082  0.086735  ...    0.064313    0.094821   -0.123963
Sex_male   -0.546832  0.116082 -0.086735  ...   -0.064313   -0.094821    0.123963
Embarked_C  0.151542 -0.234029 -0.066873  ...    1.000000   -0.146032   -0.776785
Embarked_Q  0.026947  0.222164 -0.032402  ...   -0.146032    1.000000   -0.498428
Embarked_S -0.156960  0.074503  0.081590  ...   -0.776785   -0.498428    1.000000

[9 rows x 9 columns]

In [ ]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            144
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          553
Embarked         2
dtype: int64

In [ ]:
train_data["Embarked"] = train_data["Embarked"].fillna(axis=0,method='ffill')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            144
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          553
Embarked         2
dtype: int64

In [ ]:
train_data.head()

780    C
559    S
637    S
121    S
310    C
Name: Embarked, dtype: object

In [ ]:
y_train = train_data["Survived"]
y_validate = validate_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch" ,]

X_train = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])
X_validate = pd.get_dummies(validate_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train,y_train)

predictions = model.predict(X_test)
#accuracy = accuracy_score(y_validate,predictions)
#print(accuracy)

In [ ]:
output = pd.DataFrame({'PassengerId':test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv',index = False,)